.about-content{
    margin:10px 10px;
    margin-right:10px;
    width:auto;
}
.about-content h1{
    text-align:center;
    color:rgb(196, 236, 18);
    text-decoration: underline;
}
.about-content p{
    text-align:justify;
    color: rgb(37, 10, 216);
    line-height: 20px;
    font-size:20px;
    display: inline-block;
    border-left:white 10px solid ;
    background-color:black;
    font-family: 'Barlow Condensed', sans-serif;
}
.heading{
    text-align:center;
    text-decoration: underline;
    color:chartreuse;
}

